
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
<html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  <link href="/assets/favicon.ico" rel="shortcut icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="google-site-verification" content="R1yDSvB4pYxR96EMQqGLTdaD0H4e_xM0wSebzgqMusk" />
  <title>{{ page.title }} - Edentech Solutions Group Blog</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic|Ruda:400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32900818-1']);
      _gaq.push(['_setDomainName', 'edentech.net']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>

<body class="" data-no-turbolink>
<div class="body-wrapper">
  <div class="header-wrapper">
    <div class="row">
      <div class="large-3 small-6 columns">
        <a href="/">
          <img src="/assets/logo.png" class="logo">
        </a>
      </div>
      <div class="large-9 small-6 columns navigation">
        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">

            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-dropdown not-click">
                <a href="#" class="[&quot;/why_edentech/our_experience&quot;, &quot;/why_edentech/communication&quot;, &quot;/why_edentech/our_solutions&quot;]">Why
                  Edentech?</a>
                <ul class="dropdown main-menu-dropdown">
                  <li><a class="[&quot;/why_edentech/our_solutions&quot;]" href="/why_edentech/our_solutions">Solutions</a></li>
                  <li><a class="[&quot;/why_edentech/our_experience&quot;]" href="/why_edentech/our_experience">Experience</a></li>
                  <li><a class="[&quot;/why_edentech/communication&quot;]" href="/why_edentech/communication">Communication</a></li>
                </ul>
              </li>
              <li class="has-dropdown not-click">
                <a href="#" class="[&quot;/solutions/software-development&quot;, &quot;/solutions/products&quot;, &quot;/solutions/professional-services&quot;, &quot;/solutions/consulting-partnerships&quot;]">Solutions</a>
                <ul class="dropdown main-menu-dropdown">
                  <li><a class="[&quot;/solutions/software-development&quot;]" href="/solutions/software-development">Software Development</a></li>
                  <li><a class="[&quot;/solutions/products&quot;]" href="/solutions/products">Our Products</a></li>
                  <li><a class="[&quot;/solutions/professional-services&quot;]" href="/solutions/professional-services">Professional Services for Healthcare</a></li>
                  <li><a class="[&quot;/solutions/consulting-partnerships&quot;]" href="/solutions/consulting-partnerships">Consulting Partnerships</a></li>
                </ul>
              </li>
              <li><a class="[&quot;/press-room&quot;] navigation-button" href="/press-room">Press Room</a></li>
              <li><a class="[&quot;/clients&quot;] navigation-button" href="/clients">Clients</a></li>
              <li><a class="[&quot;/about-us&quot;] navigation-button" href="/about-us">About</a></li>
              <li><a class="[&quot;/contact-us&quot;] navigation-button" href="/contact-us">Contact</a></li>
              <li><a class="selected navigation-button" href="#">Blog</a></li>

            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
{{ content }}


</div>



<!-- Footer -->

<footer>
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 hide-for-small columns">
        <p>&copy; 2013 Edentech Solutions Group, LLC</p>
      </div>
      <div class="large-5 small-5 columns">
        <p class="address">
          761 W. Sproul Road, #226<br>
          Springfield, PA 19064<br>
          <a href="mailto: info@edentech.net">info@edentech.net</a>,&nbsp;
          Telephone: <a href="tel:+14844272095">484-427-2095</a>,&nbsp;
          Fax: <a href="tel:+16103537558">610-353-7558</a>
        </p>
      </div>
      <div class="large-3 small-7 columns">
        <ul class="inline-list right">
          <li>
            <a href="https://twitter.com/EdentechGroup" target="_blank"><i class="fa fa-twitter footer-icon"></i></a>
          </li>
          <li>
            <a href="https://google.com/+EdentechNet" target="_blank"><i class="fa fa-google-plus footer-icon"></i></a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/edentech-solutions-group-llc" target="_blank"><i class="fa fa-linkedin footer-icon"></i></a>
          </li>
          <li>
            <a href="http://www.github.com/Edentech" target="_blank"><i class="fa fa-github footer-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
